.navbar * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
    position: relative;

    font-size: min(4vw, 1em);

    padding: var(--nav-padding);
    background-color: var(--color-7);
    background-image: url('/images/back_50.png');
    background-size: 50%;
    position: relative;
    z-index: 2;
}


/* Globals */
.navbar li { list-style: none; }
.navbar  a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.navbar::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: inherit;
}


/* nav */
    .nav {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        position: relative;

        width: 100%;
        height: var(--nav-heigth);
        max-width: 1200px;

        margin: 0 auto;
        z-index: 90;

        font-size: var(--nav-font-size);
    }
     /* logo */
        .nav .logo  { height: inherit; }
        .nav .logo a {
            display: block;
            height: 100%;
        }
        .nav .logo a img { height: inherit; }

        /* desktop */
            .nav.desktop .links-block {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .nav.desktop .links-block ul.links {
                display: flex;
                align-items: center;
                gap: .5rem;

                width: max-content;
                height: max-content;

                font-size: 1.3em;
                font-weight: 500;
                letter-spacing: .1em;
            }

            .nav.desktop .links-block ul.links li { position: relative; }
            .nav.desktop .links-block ul.links li.line {
                width: .2em;
                height: 1.5em;
                background-color: var(--color-6);
            }

            /* items */
                .nav.desktop .links-block ul.links li a.item {
                    display: flex;
                    align-items: center;
                    gap: .5em;

                    padding: .2em .5em;
                    
                    font-size: 1em;
                    text-align: center;
                    border-radius: .3em;
                    
                    transition: background-color 300ms, font-size 300ms;
                    transform-origin: center;
                }
                .nav.desktop .links-block ul.links li a.item[data-active] { background-color: var(--nav-active); }
                .nav.desktop .links-block ul.links li a.item:hover {
                    /* font-size: 1.25em; */
                    background-color: var(--nav-active);
                }   
                
            /* login */
                .nav.desktop .login {
                    align-self: center;
                    height: inherit;
                    font-size: 1em;
                    border-radius: .4em;
                }
                /* btn */
                    .nav.desktop .login .btn {
                        transition: background-color .2s;
                        background-color: white;
                        cursor: pointer;
                        display: grid;
                        border-radius: inherit;
                        grid-template-columns: auto 1fr;
                        align-items: center;
                        height: 100%;
                        width: 100%;
                        padding-left: .3em;
                        padding-right: .3em;
                        gap: .3em;
                        max-width: 200px;
                        color: black;
                    }
                    .nav.desktop .login .btn:hover {
                        background-color: rgba(220, 220, 220, 1);
                    } 
                    .nav.desktop .login .btn .icon {
                        display: block;
                        width: 2em;
                    }
                    .nav.desktop .login .btn .text {
                        font-size: .9em;
                        display: block;
                        /* background-color: gold; */
                        text-align: center;
                    }
                /* user */
                .nav.desktop .login .user {
                    background-color: white;
                    border-radius: inherit;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    padding: 0 0 0 1em;
                    align-items: center;
                    height: 100%;
                    transition: background-color .2s;
                    overflow: hidden;
                    cursor: pointer;
                    position: relative;
                }
                .nav.desktop .login .user:hover {
                    background-color: rgba(220, 220, 220, 1);
                }
                .nav.desktop .login .user img {
                    object-fit: cover;
                    display: block;
                    background-color: aqua;
                    border-left: .3em solid var(--color-7);
                    height: 100%;
                    aspect-ratio: 1;
                }
                .nav.desktop .login .user .message {
                    line-height: min(2vw, 1.2em);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: min(2vw, 1.2em);
                    height: 100%;
                }
                
        /* mobile */
            .nav.mobile {
                display: none;
                grid-template-columns: 1fr 1fr;
                justify-content: space-between;
                font-size: 1em;
            }

            /* links */ 
                .nav.mobile p#radix-\:ra\:, .nav.mobile p#radix-\:ra\: > div {
                    height: 100%;
                }
                .nav.mobile .links {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-around;
                    gap: .4em;

                    padding: 1em 0 4em 0;
                    font-size: 2em;
                    height: 100%;
                }
                .nav.mobile .links a {
                    display: grid;
                    grid-template-columns: auto 1fr;
                    gap: 1em;

                    padding: .5em;

                    font-size: 1em;
                    line-height: 1em;
                    border-radius: .5em;
                    transition: all 500ms;
                    cursor: pointer;
                }
                .nav.mobile .links a.item[data-active] { background-color: rgb(0, 0, 86); }

.botao  {
    width: auto;
    height: 100%;
    aspect-ratio: 1;
    justify-self: right;
    cursor: pointer;
    border-radius: .3em;
    padding: .2em;
}

body[data-scroll-locked] {
    overflow: hidden !important;
    overscroll-behavior: contain;
    position: relative !important;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    margin-left: 0;
    margin-top: 0;
}

.navbar {
    height: calc(var(--nav-heigth) + var(--nav-padding-y)* 2);
    overflow: hidden;
}




/* curtain */
.curtain {
    padding-top: var(--nav-heigth-total);
    
    width: 100%;
    height: 100vh;
    height: 100svh;

    display: grid;
    grid-template-rows: minmax(auto, 35em) auto;

    
    position: fixed;
    
    top: 0;
    left: 0;
    
    background-color: var(--color-7);
    transition: transform 0.3s ease;
    transform: translateY(-100%);

    z-index: -1;
    border-radius: inherit;
}
/* 
.curtain > div {   
}
.curtain > div:nth-child(1) {
}
.curtain > div:nth-child(2) {
} */

.curtain ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    font-size: 1.3em;
    /* padding: .5em 0 4em 0; */
}
.curtain ul.links .item, 
.curtain ul.links .item.link a {
    display: flex;
    gap: .5em;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.curtain ul.links .item .icon {
    width: 2.75em;
    aspect-ratio: 1;
}
.curtain ul.links .item.link .text {
    position: relative;
    width: 50%;
    min-width: 7em;
    text-align: center;
    color: white;
    background-color: rgba(255, 255, 255, .15);
    border-radius: .3em;
}
.curtain ul.links .item.link .text::after, 
.curtain ul.links .item.link .text::before {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: .5em;
    background-color: gold;
    border-radius: inherit;
}
.curtain ul.links .item .text::before {
    left: 0;
}
.curtain ul.links .item .text::after {
    right: 0;
}

.curtain ul .loginbtn {
    margin: 2em 0;
}


.curtain ul.bottomlinks  {

    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}




@media screen and (min-width: 800px) {
    .curtain {
        display: none;
    }
}
@media screen and (max-width: 800px) {
    :root { --nav-padding: .5em .rem; }

    .navbar { border-radius: 0 0 1em 1em; }
    .nav.desktop { display: none; }
    .nav.mobile { display: grid; }
}





/* login */
.curtain .login {
    align-self: center;
    height: inherit;
    font-size: 1em;
    border-radius: .4em;
    width: 50%;
    min-width: 12em;
    max-width: 13em;
}
/* btn */
    .curtain .login .btn {
        transition: background-color .2s;
        background-color: white;
        cursor: pointer;
        display: grid;
        border-radius: inherit;
        grid-template-columns: auto 1fr;
        align-items: center;
        height: 100%;
        width: 100%;
        padding-left: .3em;
        padding-right: .3em;
        gap: .3em;
        width: 100%;
        padding: .2em;
        color: black;
    }
    .curtain .login .btn:hover {
        background-color: rgba(220, 220, 220, 1);
    } 
    .curtain .login .btn .icon {
        display: block;
        width: 2em;
    }
    .curtain .login .btn .text {
        font-size: .9em;
        display: block;
        /* background-color: gold; */
        text-align: center;
    }
/* user */
.curtain .login .user {
    background-color: white;
    border-radius: inherit;
    display: flex;
    /* display: grid;
    grid-template-columns: auto 1fr; */
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    transition: background-color .2s;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.curtain .login .user:hover {
    background-color: rgba(220, 220, 220, 1);
}
.curtain .login .user img {
    object-fit: cover;
    display: block;
    background-color: aqua;
    border-left: .3em solid var(--color-7);
    width: 2.5em;
    aspect-ratio: 1;
}
.curtain .login .user .message {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
    font-size: 1em;
    height: fit-content;
    padding: 0 .5em;

    display: block;
}