.titulo {
  text-align: center;
  margin-top: 1.5rem;
  font-size: 5em;
  font-family: 'Adigiana-Toybox-Regular';
  
  color: var(--color-6);
  letter-spacing: .1em;
  -webkit-text-stroke: .04em var(--color-5);
}


@media (max-width: 600px) {
  .titulo {
    font-size: 10vw;
  }
}