.followers {
    color: var(--color-5);
    margin: 2em;
    font-size: max(1.75em, 2vw);
}

/* desktop */
    .followers .desktop {
        text-align: center;
        max-width: 1200px;
        margin:  0 auto;
    }

    .followers .desktop .items {
        margin-top: 1em;
        list-style: none;
        display: flex;
        
        justify-content: space-around;
    }
    /* li */
        .followers .desktop .items li {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: .5em;
        }
        /* icon */
            .followers .desktop .items li .icon {
                display: block;
                width: 1.75em;
            }
        /* number */
            .followers .desktop .items li .number {
                /* line-height: 1px; */
                padding: 0;
            }

/* mobile */
    .followers .mobile {
        font-size: min(1.3em, 4vw);
        margin: 0 auto;
        max-width: 400px;
        padding: .4em .4em .4em .75em;
        box-shadow: .2em .35em 0 var(--color-6);
        border-radius: 1em;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        display: fle;
        background-color: var(--color-10);
        gap: .5em;
        font-weight: 900;
    }
    /* total */
        .followers .mobile .total {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.75em;
            text-align: center;
            line-height: 1em;
        }
    /* icons */
        .followers .mobile ul.icons {
            display: flex;
            width: 100%;
            justify-content: space-around;
            align-items: center;
            list-style-type: none;
        }
        .followers .mobile ul.icons li {
            width: 1.5em;
            aspect-ratio: 1;

        }
        .followers .mobile ul.icons li .icon {
            display: block;
        }


    @media screen and (max-width: 600px) {
        .followers .desktop {
            display: none;
        }
        .followers .mobile {
            display: grid !important;
        }        
    }