footer {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: var(--footer-font-size);
    background-color: var(--color-7);
    width: 100%;
    height: var(--footer-heigth);
    padding: 2em 2em 1em 2em;
    color: var(--color-8);
}