footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    background-color: var(--color-1);
    width: 100%;
    padding: 2em 2em 1em 2em;
    color: rgba(255, 255, 255, .78);
}